scripts/config.py
.idea/
data/
scripts/yelp_reviews/yelp_reviews/__init__.pyc
scripts/yelp_reviews/yelp_reviews/items.pyc
scripts/yelp_reviews/yelp_reviews/pipelines.pyc
scripts/yelp_reviews/yelp_reviews/settings.pyc
scripts/yelp_reviews/yelp_reviews/spiders/__init__.pyc
scripts/yelp_reviews/yelp_reviews/spiders/scrapy_reviews.pyc
